# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Installers and archives
*.sh
*.exe
*.msi
*.dmg
*.tar
*.tar.gz
*.tgz
*.zip
*.rar

# Large data/model files
*.pkl
*.h5
*.pt
*.pth
*.ckpt
*.bin
*.pb
*.onnx
*.sqlite
*.db

# Logs
*.log

# Environment files
.env
.env.*
