# Ignore langchain GenAI folder
Courses/GenAi/langchain/

# Ignore Python/conda virtual environments
.env
.venv
env/
venv/
conda-env/
__pycache__/

# Ignore OS files
.DS_Store

# Ignore large shell/binary installers
*.sh
*.bin
*.tar.gz
*.zip
